---
// src/components/pages/AppHome.astro
import PomodoroManager from './PomodoroManager';

const { lang } = Astro.props;
---



<div class="mt-8">
    <PomodoroManager client:load lang={lang} isLoggedIn={!!user} />
</div>
