---
// src/components/pages/AppHome.astro
import PomodoroManager from './PomodoroManager';
import { auth } from '../lib/auth';

const { lang } = Astro.props;
const user = Astro.locals.user;
---



<div class="mt-8">
    <PomodoroManager client:load lang={lang} isLoggedIn={!!user} />
</div>
